/*
	Berts Death Turret
	v.01
 */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

.clear { clear: both; }

input,
button { -webkit-appearance: none; line-height: normal; }

input:focus { outline: 0; }

img { border: none; -ms-interpolation-mode: bicubic; vertical-align: middle; }

html{
	font-family:; "Helvetica Neue", Helvetica, sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing:	antialiased;
	-moz-font-smoothing:	antialiased;
	-o-font-smoothing:		antialiased;
	font-smoothing:			antialiased;	
	text-rendering:			optimizeLegibility;
	min-width: 100%;
	min-height: 100%;
	padding: 150px 0 0 0;
}

body {
	width: 400px;
	height: 400px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	-webkit-transform:	rotate(45deg);
	-moz-transform:		rotate(45deg);
	transform:			rotate(45deg);
}

body,
button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; }

button {
	min-width: 50%;
	min-height: 50%;
	float: left;
	cursor: pointer;
}

button[name="north"],
button[name="east"],
button[name="south"],
button[name="west"] {
	border: 1px solid gray;
	background-color: white;
}

button:hover {
	background-color: gainsboro;
	-webkit-box-shadow: inset 0 0 10px gray;
	-moz-box-shadow: inset 0 0 10px gray;
	box-shadow: inset 0 0 10px gray;
}

button[name="north"] {	
	-webkit-border-radius: 		15px 0 0 0; 
	-webkitmozborder-radius:	15px 0 0 0; 
	-webki-radius: 				15px 0 0 0; 
}
button[name="east"] {	
	-webkit-border-radius:		0 15px 0 0;
	-moz-border-radius:			0 15px 0 0;
	border-radius:				0 15px 0 0;
}
button[name="south"] {	
	-webkit-border-radius:		0 0 15px 0;
	-moz-border-radius:			0 0 15px 0;
	border-radius:				0 0 15px 0;
}
button[name="west"] {	
	-webkit-border-radius:		0 0 0 15px;
	-moz-border-radius:			0 0 0 15px;
	border-radius:				0 0 0 15px;
}

button[name="fire"] {
	-webkit-border-radius:		50%;
	-moz-border-radius:			50%;
	border-radius:				50%;
	background-color: firebrick;
	color: white;
	min-width: 25%; 
	max-width: 25%;
	min-height: 25%;
	max-height: 25%;
	position: absolute;
	top:	38%;
	left:	38%;
	z-index: 1000;
}

button[name="fire"]:hover {
	background-color: maroon;
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
}

button[name="north"],
button[name="east"],
button[name="south"],
button[name="west"],
button[name="fire"] {
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

button[name="north"]:active,
button[name="east"]:active,
button[name="south"]:active,
button[name="west"]:active,
button[name="fire"]:active {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-box-shadow: inset 0 0 20px black;
	-moz-box-shadow: inset 0 0 20px black;
	box-shadow: inset 0 0 20px black;
}


button p {
	-webkit-transform:	rotate(-45deg);
	-moz-transform:		rotate(-45deg);
	transform:			rotate(-45deg);
}









