/*
	Berts Death Turret
	v.01
 */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

.clear { clear: both; }

input,
button { -webkit-appearance: none; line-height: normal; background-color: transparent; }

input:focus { outline: 0; }

img { border: none; -ms-interpolation-mode: bicubic; vertical-align: middle; }

html {
	font-family:; "Helvetica Neue", Helvetica, sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing:	antialiased;
	-moz-font-smoothing:	antialiased;
	-o-font-smoothing:		antialiased;
	font-smoothing:			antialiased;	
	text-rendering:			optimizeLegibility;
	min-width: 100%;
	min-height: 100%;
	padding: 200px 0 0 0;
	background-color: white /*rgba(42, 37, 32, 1.0)*/;
}

body {
	width: 600px;
	height: 600px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	-webkit-transform:	rotate(45deg);
	-moz-transform:		rotate(45deg);
	transform:			rotate(45deg);
	padding: 2%;
	border: 1px solid gainsboro;
	-webkit-border-radius: 		15px; 
	-moz-border-radius:			15px; 
	border-radius: 				15px; 
	box-shadow: inset 0 0 15px gainsboro, 0 0 15px gainsboro;
}

body,
button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; }

i.arrow {
	width: 50px;
	height: 50px;
	display: block;
	background-image: url("turretsprite.png");
	background-repeat: no-repeat;
	background-position: -50px 0;
	margin: 0 auto;
}

i.boom {
	width: 50px;
	height: 50px;
	display: block;
	background-image: url("turretsprite.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
}

button {
	min-width: 50%;
	min-height: 50%;
	float: left;
	cursor: pointer;
}

button[name="north"],
button[name="east"],
button[name="south"],
button[name="west"] {
	border: 1px solid gray;
	background-color: none;
}

button:hover {
	background-color: gainsboro;
	-webkit-box-shadow: inset 0 0 10px gray;
	-moz-box-shadow: inset 0 0 10px gray;
	box-shadow: inset 0 0 10px gray;
}

button[name="north"] {	
	-webkit-border-radius: 		15px 0 0 0; 
	-moz-border-radius:			15px 0 0 0; 
	border-radius: 				15px 0 0 0; 
}
button[name="north"] i.arrow { 
	-webkit-transform: rotate(-90deg); 
}

button[name="east"] {	
	-webkit-border-radius:		0 15px 0 0;
	-moz-border-radius:			0 15px 0 0;
	border-radius:				0 15px 0 0;
}
button[name="south"] {	
	-webkit-border-radius:		0 0 15px 0;
	-moz-border-radius:			0 0 15px 0;
	border-radius:				0 0 15px 0;
}
button[name="south"] i.arrow { 
	-webkit-transform: rotate(90deg); 
}

button[name="west"] {	
	-webkit-border-radius:		0 0 0 15px;
	-moz-border-radius:			0 0 0 15px;
	border-radius:				0 0 0 15px;
}

button[name="west"] i.arrow { 
	-webkit-transform: rotate(180deg); 
}

button[name="fire"] {
	-webkit-border-radius:		50%;
	-moz-border-radius:			50%;
	border-radius:				50%;
	background-color: white;
	border: 2px solid gray;
	color: black;
	min-width: 25%; 
	max-width: 25%;
	min-height: 25%;
	max-height: 25%;
	position: absolute;
	top:	38%;
	left:	38%;
	z-index: 1000;
}

button[name="fire"]:hover {
	background-color: red;
	color: white;
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
}



button[name="north"]:active,
button[name="east"]:active,
button[name="south"]:active,
button[name="west"]:active,
button[name="fire"]:active {
	-webkit-box-shadow: inset 0 0 20px black;
	-moz-box-shadow: inset 0 0 20px black;
	box-shadow: inset 0 0 20px black;
}

button p {
	-webkit-transform:	rotate(-45deg);
	-moz-transform:		rotate(-45deg);
	transform:			rotate(-45deg);
}








